{% extends '../base.html' %}
{% block title %} Reset Password {% endblock title %}

{% block content %}
<div class="container">
    <div class="row centered py-4 align-items-center justify-content-center">
        <div class="col-md-8">
            <h4>Password reset link sent to  your email! Please check</h4>
            <hr>
            <p>
                It might takes some time. Please be patient. Check your spam link if it is missing
                 in your inbox. Make sure you entered the right email that you are registered with!
            </p>
        </div>
    </div>
</div>
{% endblock content %}