{% extends '../base.html' %}
{% block title %} Reset Password {% endblock title %}

{% block content %}
<div class="container">
    <div class="row centered py-4 align-items-center justify-content-center">
        {% if validlink %}
        <form class="col-md-8" method="POST" novalidate>
            {% comment %} add csrf token to prevent xss attack  {% endcomment %}
            {% csrf_token %}
            <div class="form-group my-2">
                <h4 class="text-muted text-dark">Reset your Password</h4>
            </div>
            <hr>
            <div class="form-group my-3">
                {% include "./message.html" %}
            </div>
            <div class="form-group my-1">
                <label class="mb-1" for="new_password1">New Password</label>
                {{form.new_password1}}
                {{form.new_password1.errors}}
            </div>
            <div class="form-group my-1">
                <label class="mb-1" for="new_password2">Confirm New Password</label>
                {{form.new_password2}}
                {{form.new_password2.errors}}
            </div>
            <div class="form-group d-grid gap-2 my-3">
                <button type="submit" class="btn btn-dark">Reset Password</button>
            </div>
        </form>
        {% else %}
            <div class="col-md-8">
                <h4 class="text-center text-danger">Opps!</h4>
                <h4 class="text-muted text-dark text-center">Invalid link or you already used it once!</h4>
                <h6 class="text-center"><a href="{% url 'login' %}">BACK</a></h6>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}